body {
  font-family: 'Open Sans', sans-serif;
  color: #222;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: left;
}

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  float: left;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border-top: 10px solid #ec7003;
  text-align: center;
}

.footer-flex-container {
  position: relative;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;
  clear: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: left;
  -o-object-fit: fill;
  object-fit: fill;
}

.footer-logo-link {
  max-height: 200px;
}

.footer-image {
  position: relative;
  bottom: -2px;
  display: block;
  width: 100%;
  height: 100%;
  max-height: 150px;
  max-width: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  box-shadow: 1px 1px 3px 0 #000;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}

.footer-heading {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  font-size: 14px;
  line-height: 1.5;
}

.footer-link {
  display: block;
  margin-bottom: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  color: #444;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.sticky-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
  padding: 20px;
  background-color: #ec7003;
  opacity: 1;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.nav-grid {
  display: -ms-grid;
  display: grid;
  width: 100%;
  margin: 0px;
  padding: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: minmax(200px, 1fr) minmax(-webkit-min-content, 1fr) minmax(200px, 1fr) minmax(-webkit-max-content, 0.25fr);
  -ms-grid-columns: minmax(200px, 1fr) minmax(min-content, 1fr) minmax(200px, 1fr) minmax(max-content, 0.25fr);
  grid-template-columns: minmax(200px, 1fr) minmax(-webkit-min-content, 1fr) minmax(200px, 1fr) minmax(-webkit-max-content, 0.25fr);
  grid-template-columns: minmax(200px, 1fr) minmax(min-content, 1fr) minmax(200px, 1fr) minmax(max-content, 0.25fr);
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.nav-logo-link {
  position: relative;
  left: 0px;
  display: block;
  height: 60px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px;
}

.nav-logo {
  position: absolute;
  left: 0px;
  top: 0px;
  width: auto;
  height: 100%;
  float: left;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}

.nav-link {
  display: block;
  margin-right: 0px;
  margin-left: 0px;
  padding: 10px 0px;
  color: #444;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.contact-form {
  padding-top: 0px;
  padding-bottom: 0px;
}

.contact-form-grid {
  display: -ms-grid;
  display: grid;
  margin-top: 40px;
  grid-auto-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-areas: "Naam Area";
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.nav-grid-2 {
  display: -ms-grid;
  display: grid;
  width: 100%;
  margin: 0px;
  padding: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: minmax(auto, -webkit-min-content) minmax(auto, -webkit-min-content) auto minmax(auto, 1fr) 0.25fr;
  -ms-grid-columns: minmax(auto, min-content) minmax(auto, min-content) auto minmax(auto, 1fr) 0.25fr;
  grid-template-columns: minmax(auto, -webkit-min-content) minmax(auto, -webkit-min-content) auto minmax(auto, 1fr) 0.25fr;
  grid-template-columns: minmax(auto, min-content) minmax(auto, min-content) auto minmax(auto, 1fr) 0.25fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.nav-grid-3 {
  display: -ms-grid;
  display: grid;
  width: 100%;
  margin: 0px;
  padding: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: 1fr -webkit-max-content -webkit-max-content -webkit-max-content;
  -ms-grid-columns: 1fr max-content max-content max-content;
  grid-template-columns: 1fr -webkit-max-content -webkit-max-content -webkit-max-content;
  grid-template-columns: 1fr max-content max-content max-content;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.cards-section {
  width: 80%;
  margin: 40px auto;
  padding-top: 0px;
  padding-bottom: 0px;
  border: 1px solid #fff;
}

.centered-container {
  padding: 40px 10px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #bfc2c5;
  text-align: center;
}

.cards-grid-container {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 30px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  text-align: left;
}

.cards-image-mask {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 100%;
  border-radius: 0%;
}

.cards-image {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.paragraph {
  text-align: left;
}

.image {
  display: block;
  width: 100%;
  max-height: 100%;
  margin: -30px 0px;
  padding-top: 0px;
  opacity: 1;
}

.body {
  margin-right: 0px;
  margin-left: 0px;
  background-color: #fff;
  color: #000;
  font-size: 16px;
  font-weight: 300;
}

.container {
  max-width: 100%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.div-block {
  max-width: 500px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 30%;
  -ms-flex: 0 30%;
  flex: 0 30%;
}

.bold-text {
  width: 100%;
}

.bold-text-2 {
  font-weight: 300;
}

.sticky-nav-2 {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
  padding: 20px;
  background-color: #f4f4f4;
}

.footer-2 {
  padding-top: 60px;
  padding-bottom: 40px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: center;
}

.footer-flex-container-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: left;
}

.footer-logo-link-2 {
  max-height: 60px;
  min-width: 60px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.footer-image-2 {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}

.footer-heading-2 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.5;
}

.footer-link-2 {
  display: block;
  margin-bottom: 10px;
  color: #444;
  text-decoration: none;
}

.footer-link-2:hover {
  text-decoration: underline;
}

.subscribe-form {
  padding-top: 100px;
  padding-bottom: 100px;
}

.subscribe-form-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.subscribe-form-input-wrapper {
  text-align: left;
}

.subscribe-form-input {
  margin-bottom: 0px;
}

.contact-form-grid-2 {
  display: -ms-grid;
  display: grid;
  margin-top: 40px;
  grid-auto-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.heading {
  padding-top: 40px;
  padding-left: 2px;
}

.paragraph-2 {
  padding-left: 2px;
}

.italic-text {
  padding-left: 2px;
}

.container-2 {
  position: -webkit-sticky;
  position: sticky;
}

.nav-link-2 {
  float: left;
}

.nav-link-3 {
  float: left;
}

.container-3 {
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  margin-right: 0px;
  margin-left: 0px;
  background-color: #ec7003;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  width: 100%;
  margin-right: 0px;
  margin-left: 0px;
  background-color: #bfc2c5;
}

.brand {
  padding-left: 40px;
}

.image-2 {
  display: none;
}

.nav-link-4.w--current {
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.nav-menu {
  right: auto;
  margin-right: 100px;
}

.div-block-2 {
  position: static;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #ec7003;
}

.div-block-3 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 30%;
  -ms-flex: 0 30%;
  flex: 0 30%;
}

.div-block-4 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 30%;
  -ms-flex: 0 30%;
  flex: 0 30%;
}

.bold-text-3 {
  text-align: left;
}

.heading-2 {
  text-align: left;
}

@media screen and (max-width: 991px) {
  .footer {
    padding-right: 20px;
    padding-left: 20px;
  }

  .footer-flex-container {
    width: 100%;
  }

  .contact-form {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .cards-section {
    width: 100%;
  }

  .centered-container {
    padding-right: 20px;
    padding-left: 20px;
  }

  .cards-grid-container {
    grid-column-gap: 20px;
  }

  .image {
    margin-right: auto;
    margin-left: auto;
  }

  .footer-2 {
    padding-right: 20px;
    padding-left: 20px;
  }

  .container-3 {
    margin-right: auto;
    margin-left: auto;
  }

  .navbar {
    width: auto;
  }

  .brand {
    padding-left: 20px;
  }

  .menu-button {
    display: none;
  }

  .nav-link-4 {
    display: inline-block;
  }

  .nav-menu {
    display: none;
    margin-right: 0px;
  }

  .div-block-2 {
    width: 100%;
    background-color: transparent;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    padding: 40px 20px;
  }

  .footer-image {
    -o-object-fit: contain;
    object-fit: contain;
  }

  .sticky-nav {
    position: -webkit-sticky;
    position: sticky;
  }

  .nav-grid {
    text-align: center;
  }

  .contact-form {
    padding: 40px 20px;
  }

  .nav-grid-2 {
    text-align: center;
  }

  .nav-grid-3 {
    text-align: center;
  }

  .cards-section {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 20px;
  }

  .centered-container {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .cards-grid-container {
    max-width: none;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }

  .image {
    display: none;
  }

  .body {
    margin-right: 10px;
    margin-left: 10px;
  }

  .sticky-nav-2 {
    position: relative;
  }

  .footer-2 {
    padding: 40px 20px;
  }

  .footer-image-2 {
    -o-object-fit: contain;
    object-fit: contain;
  }

  .subscribe-form {
    padding: 40px 20px;
  }

  .image-2 {
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

@media screen and (max-width: 479px) {
  .footer {
    padding-right: 20px;
    padding-left: 20px;
    text-align: left;
  }

  .footer-flex-container {
    display: -ms-grid;
    display: grid;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .footer-logo-link {
    height: 60px;
  }

  .footer-heading {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }

  .footer-link {
    margin-bottom: 0px;
    margin-left: auto;
    padding-right: 0px;
    padding-bottom: 0px;
    font-size: 12px;
  }

  .sticky-nav {
    position: -webkit-sticky;
    position: sticky;
    padding: 20px;
  }

  .nav-grid {
    grid-auto-flow: row;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 100px;
    grid-template-rows: 100px;
  }

  .nav-logo-link {
    border-top: 1px solid #c4c4c4;
  }

  .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #c4c4c4;
  }

  .nav-grid-2 {
    grid-auto-flow: row;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 100px;
    grid-template-rows: 100px;
  }

  .nav-grid-3 {
    display: block;
    grid-auto-flow: row;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 100px;
    grid-template-rows: 100px;
    list-style-type: none;
  }

  .cards-section {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0px;
  }

  .centered-container {
    padding: 10px;
    text-align: left;
  }

  .cards-grid-container {
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .cards-image {
    position: absolute;
    z-index: auto;
  }

  .image {
    display: none;
  }

  .sticky-nav-2 {
    padding: 0px;
  }

  .footer-2 {
    padding-right: 20px;
    padding-left: 20px;
    text-align: left;
  }

  .footer-flex-container-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer-logo-link-2 {
    height: 60px;
  }

  .footer-heading-2 {
    margin-top: 20px;
  }

  .subscribe-form-input-wrapper {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .subscribe-form-input {
    width: 100%;
  }

  .brand {
    padding-left: 10px;
  }

  .image-2 {
    display: inline-block;
    padding-top: 3px;
  }

  .div-block-2 {
    width: 100%;
    background-color: transparent;
    font-size: 10px;
  }

  .div-block-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .div-block-4 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .list {
    margin-bottom: 0px;
  }

  .list-2 {
    margin-bottom: 0px;
  }

  .facebook {
    display: none;
  }

  .bold-text-3 {
    font-weight: 700;
  }
}

#w-node-_0a28447e-f2d4-3065-9b92-7492831ed9f4-86b7ee21 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-_15476323-1f31-686b-71ad-578ef4125d35-86b7ee21 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

@media screen and (max-width: 479px) {
  #w-node-_1f56cbb4-8e35-4718-ab4a-4050dcaa933b-be573641 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-dee8a4d0-8ce8-f3c4-5c2f-845f1ea18c2e-be573641 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_72570f00-952e-6169-d310-7bd8819db87f-86b7ee21 {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-_72570f00-952e-6169-d310-7bd8819db883-86b7ee21 {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-_72570f00-952e-6169-d310-7bd8819db887-86b7ee21 {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-_72570f00-952e-6169-d310-7bd8819db88b-86b7ee21 {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
}